@mixin form-input {
  padding-left: 5px;
  padding-top: 15px;
  margin-bottom: 2px;
  display: block;
  height: 30px;
  width: 300px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.check-out-form {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  margin-top: 100px;
  position: relative;

  & .form-block {
    margin-top: 20px;
    label {
      margin: 5px;
      position: absolute;
      color: #a5a5a5;
      font-family: Raleway;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 120%;
    }
    &__input {
      margin-bottom: 20px;
      input {
        @include form-input;
      }
      input:focus {
        outline: none;
        border: 1px solid #acabab;
        border-radius: 2px;
      }
      &__error {
        margin-bottom: 20px;
        input {
          @include form-input;
          border: 1px solid red;
        }
        input:focus {
          outline: none;
          border: 1px solid red;
          border-radius: 2px;
        }
      }
    }
  }

  &__btn {
    margin-bottom: 20px;
    display: block;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    background: #5ece7b;
    color: #ffffff;
    width: 140px;
    height: 43px;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: lighten(#5ece7b, 3%);
    }
    &:active {
      background-color: lighten(#5ece7b, 5%);
    }
  }
}
